# node
node_modules
dist
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*

# editor
.DS_Store
.idea
*.swp
.vscode/*
!.vscode/extensions.json

# coverage
coverage

# build
index.html
assets
vite.svg
!apps/**/assets/**
!apps/**/index.html
!apps/**/vite.svg
